.banner{
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: center center;
}
.join{

    h1{color:#bf0603}
i.mr-2 {
    color: #bf0603;
}

p.my-4 {
    color:rgba($color: #032f49, $alpha: 0.6)   ;
    line-height: 30px
}
h4{
    color: #032f49;
}
}
